services:
  web:
    container_name: course_service
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    ports:
      - 8000:8000
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db

  db:
    image: postgres:17.0
    container_name: db_course_service
    env_file:
      - .env
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=course_service_db
      - POSTGRES_PASSWORD=admin
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 30s
      retries: 6
    volumes:
      - postgres:/data/postgres

volumes:
  postgres:
